.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.amount {
    font-size: 1.8rem;
}

.format-container {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    font-size: 1.2rem;
}

.format-container div label {
    margin-left: 0.6rem;
}

@media only screen and (max-width: 768px) {
    .format-container {
        flex-direction: column;
    }
}
