.button {
    width: 7rem;
    height: 2.4rem;
    background-color: var(--grey-100);
    border-radius: 0.3rem;
    border: 1px solid var(--lightgrey);
    cursor: pointer;
    transition: 0.45s;
    font-size: 1rem;
    font-family: inherit;
}

.button:hover, button:focus {
    box-shadow:
        inset -7rem 0 0 0 var(--grey-200),
        inset 7rem 0 0 0 var(--grey-200); 
}

.button:active {
    box-shadow:
        inset -7rem 0 0 0 var(--grey-400),
        inset 7rem 0 0 0 var(--grey-400);
}

.button:focus {
    outline-color: var(--lightblue);
}
