.button {
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: var(--grey-100);
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
}

.button:focus {
    outline-color: var(--blue-500);
}

.button:hover {
    background-color: var(--grey-200);
}

.primary {
    border: none;
    background-color: var(--blue-600);
    color: var(--white);
}

.primary:hover {
    background-color: var(--blue-700);
}

.disabled {
    background-color: var(--grey-300);
    cursor: not-allowed;
}

.disabled:hover {
    background-color: var(--grey-400);
}

@media only screen and (max-width: 600px) {
    .button {
        width: 90%;
    }
}

/* Copy button */
.copy-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.copy-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.copy-icon {
    filter: var(--blue-700-svg);
}

:global(body.dark) .copy-icon {
    filter: var(--blue-500-svg);
}

.copy-icon:hover {
    filter: var(--blue-500-svg);
}

.copy-button-container .copy-icon:hover {
    filter: var(--blue-700-svg);
}

:global(body.dark) .copy-icon:hover {
    filter: var(--blue-700-svg);
}

:global(body.dark) .copy-button-container .copy-icon:hover {
    filter: var(--blue-500-svg);
}

.check-icon {
    filter: var(--status-green-svg);
}

/* End of copy button */