.button {
    width: 10rem;
    height: 3rem;
    border: none;
    background-color: var(--grey-100);
    font-size: 1rem;
    font-family: inherit;
    cursor: pointer;
}

.width-auto {
    width: 100%;
}

.button:focus {
    outline-color: var(--blue-500);
}

.button:hover {
    background-color: var(--grey-200);
}

.primary {
    border: none;
    background-color: var(--blue-600);
    color: var(--white);
}

.primary:hover {
    background-color: var(--blue-700);
}

.disabled {
    background-color: var(--grey-300);
    cursor: not-allowed;
}

.disabled:hover {
    background-color: var(--grey-400);
}
