.textarea {
    width: 90%;
    height: 30rem;
    padding: 1rem;
    border: 1px solid var(--grey-200);
    font-size: 1.3rem;
    resize: none;
}

:global(body.dark) .textarea {
    color: var(--white);
    background-color: var(--grey-700);
    border: 1px solid var(--grey-500);
}

.textarea::placeholder {
    color: var(--grey-400);
}

:global(body.dark) .textarea::placeholder {
    color: var(--grey-300);
}

.textarea:focus {
    outline: 2px solid var(--blue-500);
}

@media only screen and (max-width: 600px) {
    .textarea {
        height: 20rem;
    }
}
