.textarea {
    width: 90%;
    height: 30rem;
    padding: 1rem;
    border: 1px solid var(--grey-200);
    font-size: 1.3rem;
    resize: none;
}

.textarea:focus {
    outline: 2px solid var(--blue-500);
}
