.textarea {
    width: 70%;
    height: 50%;
    padding: 1rem;
    border: 1px solid var(--grey-200);
    border-radius: 0.5rem;
    resize: none;
    font-size: 1.3rem;
}

.textarea:focus {
    outline-color: var(--blue-200);
}
