.datepickers-container {
    display: flex;
    gap: 3rem;
}

.result-container {
    width: 20rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-200);
    background-color: var(--blue-600);
    color: var(--white);
    font-size: 1.4rem;
    text-align: center;
}

:global(body.dark) .result-container {
    border: 1px solid var(--grey-500);
}

@media only screen and (max-width: 1000px) {
    .datepickers-container {
        flex-direction: column;
        gap: 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .result-container {
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    .datepickers-container {
        margin-left: 10%;
        width: 100%;
    }
    .result-container {
        width: 90%;
        font-size: 1.1rem;
    }
}
