.top-button-container {
    display: flex;
    gap: 1rem;
}

.bottom-button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .bottom-button-container {
        flex-wrap: wrap;
    }
}
