.top-button-container {
    display: flex;
    gap: 1rem;
}

.bottom-button-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

@media only screen and (max-width: 450px) {
    .top-button-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 300px) {
    .bottom-button-container {
        flex-direction: column;
    }
}
