.radios-container {
    display: flex;
    gap: 2rem;
}

.cropper {
    position: relative;
    width: 50rem;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4c4d7;
    opacity: 0.8;
    background-image:  repeating-linear-gradient(45deg, #9497cd 25%, transparent 25%, transparent 75%, #9497cd 75%, #9497cd), repeating-linear-gradient(45deg, #9497cd 25%, #c4c4d7 25%, #c4c4d7 75%, #9497cd 75%, #9497cd);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.cropper > * {
    border-radius: inherit;
}
  
.viewer {
    width: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem;
}

.output-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.output {
    position: relative;
    width: 30rem;
    overflow: hidden;
}
  
.output img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}

@media only screen and (max-width: 1400px) {
    .cropper-input {
        width: 90%;
    }

    .cropper {
        width: 90%;
    }

    .viewer {
        width: 90%;
    }

    .output {
        width: 25rem;
    }

}

@media only screen and (max-width: 768px) {
    .radios-container {
        gap: 1rem;
    }

    .output {
        width: 20rem;
    }
}

@media only screen and (max-width: 400px) {
    .radios-container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 2rem;
    }
    .output {
        width: 13.5rem;
    }
}
