.container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 3rem;
    border: 1px solid var(--grey-200);
}

.cropper-input {
    width: 40rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border: 2px dashed var(--blue-600);
    cursor: pointer;
    font-size: 1.2rem;
}

.cropper-input img {
    filter: var(--blue-700-svg);
}

.cropper-input-file {
    display: none;
}

.cropper {
    position: relative;
    width: 40rem;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4c4d7;
    opacity: 0.8;
    background-image:  repeating-linear-gradient(45deg, #9497cd 25%, transparent 25%, transparent 75%, #9497cd 75%, #9497cd), repeating-linear-gradient(45deg, #9497cd 25%, #c4c4d7 25%, #c4c4d7 75%, #9497cd 75%, #9497cd);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.cropper > * {
    border-radius: inherit;
}
  
.viewer {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: aquamarine;
}
  
.output {
    position: relative;
    width: 20rem;
    overflow: hidden;
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
}
  
.output img {
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
}
  