.editor-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    order: 1;
}

.ranges-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    order: 1;
}

.buttons-container {
    display: flex;
    gap: 1rem;
    order: 2;
}

.preview-container {
    order: 2;
    display: flex;
    justify-content: center;
}

.preview-image-container {
    width: 34rem;
    height: 34rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c4c4d7;
    opacity: 0.8;
    background-image:  repeating-linear-gradient(45deg, #9497cd 25%, transparent 25%, transparent 75%, #9497cd 75%, #9497cd), repeating-linear-gradient(45deg, #9497cd 25%, #c4c4d7 25%, #c4c4d7 75%, #9497cd 75%, #9497cd);
    background-position: 0 0, 10px 10px;
    background-size: 20px 20px;
}

.preview-image {
    max-height: 32rem;
    max-width: 32rem;
}

@media only screen and (max-width: 1250px) {
    .editor-container {
        flex-direction: column;
        gap: 2rem;
    }
    .settings-container {
        order: 2;
    }
    .preview-container {
        order: 1;
    }
    .ranges-container {
        order: 2;
    }
    .buttons-container {
        order: 1;
    }
    .preview-container {
        width: 100%;
    }
    .preview-image-container {
        width: 90%;
    }
    .preview-image {
        max-height: 30rem;
        max-width: 30rem;
    }
}

@media only screen and (max-width: 500px) {
    .preview-image-container {
        height: 20rem;
    }
    .preview-image {
        max-height: 16rem;
        max-width: 16rem;
    }
}

@media only screen and (max-width: 350px) {
    .preview-image {
        max-height: 13rem;
        max-width: 13rem;
    }
    .buttons-container {
        flex-direction: column;
    }
}
