.button-container {
    display: flex;
    gap: 2rem;
}

@media only screen and (max-width: 768px) {
    .button-container {
        gap: 1rem;
    }
}

@media only screen and (max-width: 450px) {
    .button-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 300px) {
    /* .button-container {
        flex-direction: column;
    } */
}