.container {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.label {
    font-size: 1rem;
    cursor: pointer;
}

.radio {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 50%;
    border: 1px solid var(--grey-200);
    cursor: pointer;
}

:global(body.dark) .radio {
    border: 1px solid var(--grey-500);
}

.radio:hover {
    border: 1px solid var(--blue-500);
}

:global(body.dark) .radio:hover {
    border: 1px solid var(--blue-500);
}

.radio:focus {
    outline: none;
}

.radio:checked {
    background-color: var(--blue-600);
    border: none;
}

:global(body.dark) .radio:checked {
    border: none;
}
