.textfield {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-200);
    background-color: var(--white);
}

:global(body.dark) .textfield {
    color: var(--white);
    border: 1px solid var(--grey-500);
    background-color: var(--grey-700);
}

.textfield:focus-within {
    outline: 2px solid var(--blue-500);
}

.textfield:focus-within .prompt {
    color: var(--blue-600);
}

:global(body.dark) .textfield:focus-within .prompt {
    color: var(--blue-400);
}

.prompt {
    padding: 0.2rem 0.8rem 0 0.8rem;
    color: var(--grey-600);
}

:global(body.dark) .prompt {
    color: var(--grey-300);
}

.color-input-container {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
}

.color-button {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--grey-200);
    background-color: black;
    cursor: pointer;
}

:global(body.dark) .color-button {
    border: 1px solid var(--grey-500);
}

.color-picker-container {
    padding: 1rem;
    background-color: var(--white);
    position: absolute;
    top: 100%;
    left: -1px;
    z-index: 110;
    border: 1px solid var(--grey-200);
}

:global(body.dark) .color-picker-container {
    border: 1px solid var(--grey-500);
    background-color: var(--grey-700);
}

.input {
    width: 16rem;
    padding: 0.4rem 0.8rem;
    font-size: 1.2rem;
    font-family: inherit;
    border: none;
    background-color: inherit;
    color: inherit;
}

.input:focus {
    outline: none;
}

@media only screen and (max-width: 500px) {
    .input {
        width: 14rem;
    }
}
