.container {
    width: 30rem;
    margin-left: 4rem;
}

.stopwatch-container {
    display: flex;
    gap: 0.5rem;
}

.time-container {
    width: 6rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* justify-content: center;
    align-items: center; */
    background-color: var(--blue-600);
    color: var(--white);
}

.time-container-value {
    font-size: 3rem;
}

.time-container-value-ms {
    font-size: 1.3rem;
    margin-bottom: 0.9rem;
}

.time-container-type {
    justify-self: flex-end;
    margin-bottom: 0.3rem;
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
        margin-left: 0;
    }
}

@media only screen and (max-width: 500px) {
    .time-container {
        width: 4rem;
        height: 4rem;
    }

    .time-container-value {
        font-size: 2rem;
    }
    
    .time-container-value-ms {
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }

    .time-container-type {
        margin-bottom: 0.1rem;
    }

}

@media only screen and (max-width: 300px) {
    .time-container {
        width: 3rem;
        height: 3.5rem;
    }
    .time-container-value {
        font-size: 1.6rem;
    }
    .time-container-value-ms {
        font-size: 1rem;
        margin-bottom: 0.2rem;
    }
    .time-container-type {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
}
