.not-found-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.not-found-message {
    color: var(--status-red);
}

.metadata-container {
    width: 40rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.metadata-entries-container {
    height: 30rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border: 1px solid var(--grey-200);
    overflow-y: scroll;
}

.metadata-entries-container > div {
    width: 100%;
}

:global(body.dark) .metadata-entries-container {
    border: 1px solid var(--grey-500);
}

@media only screen and (max-width: 1400px) {
    .metadata-container {
        width: 90%;
    }
}

.metadata-entries-container::-webkit-scrollbar {
    width: 0.4rem;
}

.metadata-entries-container::-webkit-scrollbar-track {
    background: var(--white);
}

:global(body.dark) .metadata-entries-container::-webkit-scrollbar-track {
    background: var(--grey-800);
}

.metadata-entries-container::-webkit-scrollbar-thumb {
    background: var(--grey-200);
}

:global(body.dark) .metadata-entries-container::-webkit-scrollbar-thumb {
    background: var(--grey-500);
}

.metadata-entries-container::-webkit-scrollbar-thumb:hover {
    background: var(--grey-300);
}

:global(body.dark) .metadata-entries-container::-webkit-scrollbar-thumb:hover {
    background: var(--grey-400);
}
