.buttons-container {
    display: flex;
    gap: 2rem;
}

.error {
    height: 1rem;
    margin-bottom: 0.6rem;
    color: var(--status-red);
}

.textareas-container {
    width: 95%;
    display: flex;
    gap: 2rem;
}

@media only screen and (max-width: 1200px) {
    .textareas-container {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 300px) {
    .buttons-container {
        flex-direction: column;
        gap: 1rem;
    }
}
