.navbar {
    width: 100%;
    border-bottom: 1px solid var(--grey-200);
    height: 3rem;
}

.logo-container {
    width: 16rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-left: 1rem;
    border-right: 1px solid var(--grey-200);
}

.logo {
    filter: var(--blue-700-svg);
}
