.category-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-title-container {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
    background-color: var(--grey-100);
    cursor: pointer;
    transition: background-color 0.3s;
}

:global(body.dark) .category-title-container {
    background-color: var(--grey-700);
}

.category-title-container:hover {
    filter: brightness(90%);
}

.category-title-container.active {
    background-color: var(--blue-100);
}

:global(body.dark) .category-title-container.active {
    background-color: var(--grey-700);
}

.icon {
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: var(--blue-700-svg);
    position: fixed;
}

:global(body.dark) .icon {
    filter: var(--blue-500-svg);
}

.collapse-icon {
    margin-left: auto;
    margin-right: 1rem;
}

:global(body.dark) .collapse-icon {
    filter: var(--white-svg);
}

.collapse-icon-collapsed {
    display: none;
}

.category-title {
    margin-left: 3rem;
    font-size: 1.3rem;
    font-weight: 500;
}

.category-title-collapsed {
    display: none;
}

.links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s;
}

.collapsed {
    height: 0rem;
}
