.category-title-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
}

.icon {
    filter: var(--blue-700-svg);
}

.collapse-icon {
    margin-left: auto;
}

.category-title {
    font-size: 1.1rem;
    font-weight: 500;
}

.links-container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.collapsed {
    display: none;
}