.category-title-container {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    margin-bottom: 0.6rem;
}

.icon {
    filter: var(--blue-700-svg);
}

.category-title {
    font-size: 1.4rem;
}

.links-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 2rem;
}