.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.textarea {
    width: 70%;
    height: 50%;
    padding: 1rem;
    border: 1px solid var(--lightgrey);
    border-radius: 0.5rem;
    resize: none;
    font-size: 1.3rem;
}

.textarea:focus {
    outline-color: var(--lightblue);
}

.counters-container {
    display: flex;
    gap: 1rem;
}

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.counter-number {
    height: 3rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid var(--lightgrey);
    border-radius: 0.5rem;
}