.category-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.category-title-container {
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 0.4rem;
    cursor: pointer;
}

.category-title-container:hover {
    background-color: var(--grey-100);
}

:global(body.dark) .category-title-container:hover {
    background-color: var(--grey-700);
}

.category-title-container.active {
    background-color: var(--grey-100);
}

:global(body.dark) .category-title-container.active {
    background-color: var(--grey-700);
}

.category-title-container.active:hover {
    background-color: var(--grey-200);
}

:global(body.dark) .category-title-container.active:hover {
    background-color: var(--grey-600);
}

.icon {
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: var(--blue-900-svg);
}

:global(body.dark) .icon {
    filter: var(--blue-200-svg);
}

.category-title-container.active .icon {
    filter: var(--blue-700-svg);
}

:global(body.dark) .category-title-container.active .icon {
    filter: var(--blue-300-svg);
}

.icon img {
    height: 1.2rem;
}

.collapse-icon {
    margin-left: auto;
    margin-right: 1rem;
}

:global(body.dark) .collapse-icon {
    filter: var(--white-svg);
}

.category-title {
    margin-left: 0.4rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: height 0.3s;
}

.collapsed {
    height: 0rem;
}

@media only screen and (max-width: 768px) {
    .category-title-container {
        height: 4rem;
    }
    .category-title-container {
        padding-left: 1.7rem;
    }

    .collapse-icon {
        margin-right: 2.6rem;
    }

    .category-title {
        font-size: 1.3rem;
        margin-left: 1.4rem;
    }

    .icon img {
        height: 1.8rem;
    }
}
