.container {
    width: 60%;
    margin-left: 4rem;
}

.form {
    display: flex;
    gap: 2rem;
}

.ranges-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.radios-container {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.colors-container {
    display: flex;
    flex-direction: column;
}

.color-container {
    display: flex;
    border: 1px solid var(--grey-300);
}

:global(body.dark) .color-container {
    border: 1px solid var(--grey-500);
}

.color-square {
    width: 10rem;
    height: 2rem;
}

.color-value-container {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--grey-300);
    font-size: 0.8rem;
}

:global(body.dark) .color-value-container {
    border-left: 1px solid var(--grey-500);
}

@media only screen and (max-width: 1500px) {
    .container {
        width: 70%;
    }
}

@media only screen and (max-width: 1300px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 1000px) {
    .form {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        width: 95%;
        margin-left: 0;
    }
}
