.container {
    width: 60%;
}

.form {
    display: flex;
    gap: 2rem;
}

.ranges-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.radios-container {
    padding: 1rem;
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

.colors-container {
    display: flex;
    gap: 0.3rem;
}

.color-container {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--grey-300);
    display: flex;
}

.color-square {
    width: 8rem;
    height: 4rem;
}

.color-value-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem;
    border-top: 1px solid var(--grey-300);
    font-size: 0.8rem;
}
