.ranges-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.4rem;
    margin-bottom: 1rem;
}

.radios-container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.colors-container {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.color-container {
    display: flex;
}

.color-square {
    width: 12rem;
    border: 1px solid var(--grey-300);
    border-right: none;
}

:global(body.dark) .color-square {
    border: 1px solid var(--grey-500);
    border-right: none;
}

@media only screen and (max-width: 768px) {
    .color-square {
        width: 6rem;
    }
}

@media only screen and (max-width: 350px) {
    .color-square {
        width: 2.5rem;
    }
    .radios-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
