.qr-code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.qr-code-container-img {
    height: 16rem;
    border: 1px solid var(--grey-200);
}

:global(body.dark) .qr-code-container-img {
    border: 1px solid var(--grey-500);
}

@media only screen and (max-width: 768px) {
    .qr-code-container-img {
        height: 12rem;
    }
}
