.qr-code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17rem;
    width: 17rem;
    border: 1px solid var(--grey-200);
}

:global(body.dark) .qr-code-container {
    border: 1px solid var(--grey-500);
}

.qr-code-img {
    height: 100%;
}

.buttons-container {
    width: 17rem;
    display: flex;
    justify-content: space-between;
}

:global(body.dark) .qr-code-container-img {
    border: 1px solid var(--grey-500);
}

@media only screen and (max-width: 450px) {
    .qr-code-container {
        height: 13rem;
        width: 13rem;
    }
    .buttons-container {
        width: 90%;
    }
}

@media only screen and (max-width: 300px) {
    .buttons-container {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}
