.result-container {
    height: 4rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--grey-200);
    background-color: var(--status-green);
    font-size: 2rem;
    color: white;
}

:global(body.dark) .result-container {
    border: 1px solid var(--grey-500);
}
