.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    margin-bottom: 0.8rem;
}

.prompt {
    margin-right: 0.3rem;
}

.value {
   font-weight: 700;
}

.range {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 13rem;
}

.range::-webkit-slider-runnable-track {
    height: 0.5rem;
    border-radius: 0.4rem;
    background: var(--grey-200);
}

:global(body.dark) .range::-webkit-slider-runnable-track {
    background: var(--grey-500);
}

.range::-moz-range-track {
    height: 0.5rem;
    border-radius: 0.4rem;
    background: var(--grey-200);
}

:global(body.dark) .range::-moz-range-track {
    background: var(--grey-500);
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -0.45rem;
    border-radius: 50%;
    background-color: var(--blue-600);
}

.range:disabled::-webkit-slider-thumb {
    background-color: var(--grey-500);
}

:global(body.dark) .range:disabled::-webkit-slider-thumb {
    background-color: var(--grey-200);
}

.range::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.4rem;
    height: 1.4rem;
    margin-top: -0.45rem;
    border-radius: 50%;
    background-color: var(--blue-600);
}

.range:disabled::-moz-range-thumb {
    background-color: var(--grey-500);
}

.range:focus {
    outline: none;
}

.range:focus::-webkit-slider-thumb {
    background-color: var(--blue-800);
}

:global(body.dark) .range:focus::-webkit-slider-thumb {
    background-color: var(--blue-500);
}

.range:focus::-moz-range-thumb {
    background-color: var(--blue-700);
}

:global(body.dark) .range:focus::-moz-range-thumb {
    background-color: var(--blue-500);
}
