.container {
    width: 40%;
}

.prompt {
    margin-top: 1rem;
    font-size: 1.1rem;
}

.bottom-container {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.colors-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.color-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.color-container-title {
    width: 3rem;
    font-weight: 700;
}

.color-container-value {
    width: 16rem;
    padding: 0.4rem 0.8rem;
    background-color: var(--white);
    font-size: 1.1rem;
}

:global(body.dark) .color-container-value {
    background-color: var(--grey-700);
}
