.copy-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.copy-icon {
    filter: var(--blue-700-svg);
}

:global(body.dark) .copy-icon {
    filter: var(--blue-500-svg);
}

.copy-icon:hover {
    filter: var(--blue-500-svg);
}

:global(body.dark) .copy-icon:hover {
    filter: var(--blue-700-svg);
}

.check-icon {
    filter: var(--status-green-svg);
}
