.copy-button-container {
    width: 6rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    background-color: var(--grey-100);
    color: var(--black);
    cursor: pointer;
}

.copy-button-container:hover {
    background-color: var(--grey-200);
}

.copy-button {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.copy-icon {
    filter: var(--blue-700-svg);
}

:global(body.dark) .copy-icon {
    filter: var(--blue-500-svg);
}

.copy-icon:hover {
    filter: var(--blue-500-svg);
}

.copy-button-container .copy-icon:hover {
    filter: var(--blue-700-svg);
}

:global(body.dark) .copy-icon:hover {
    filter: var(--blue-700-svg);
}

:global(body.dark) .copy-button-container .copy-icon:hover {
    filter: var(--blue-500-svg);
}

.check-icon {
    filter: var(--status-green-svg);
}
