.checkboxes-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.charset {
    margin-left: 1.8rem;
    font-size: 0.9rem;
    text-decoration: line-through;
    color: var(--grey-400);
}

.charset.active {
    text-decoration: none;
    color: var(--blue-600);
}

:global(body.dark) .charset.active {
    color: var(--blue-500);
}

.password-container {
    width: 17.5rem;
    padding: 0.5rem;
    border: 1px solid var(--grey-200);
    text-align: center;
}

.buttons-container {
    width: 17.5rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}
