.checkboxes-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.charset {
    margin-left: 1.8rem;
    font-size: 0.9rem;
    text-decoration: line-through;
    color: var(--grey-400);
}

.charset.active {
    text-decoration: none;
    color: var(--blue-600);
}

:global(body.dark) .charset.active {
    color: var(--blue-500);
}

.password-container {
    width: 17.5rem;
    padding: 0.5rem;
    border: 1px solid var(--grey-200);
    text-align: center;
}

.buttons-container {
    width: 17.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

@media only screen and (max-width: 350px) {
    .charset {
        display: none;
    }
    .password-container {
        width: 90%;
        overflow-x: scroll;
    }
    .buttons-container {
        flex-direction: column;
    }
}

.password-container::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.4rem;
}

.password-container::-webkit-scrollbar-track {
    background: var(--white);
}

:global(body.dark) .password-container::-webkit-scrollbar-track {
    background: var(--grey-800);
}

.password-container::-webkit-scrollbar-thumb {
    background: var(--grey-200);
}

:global(body.dark) .password-container::-webkit-scrollbar-thumb {
    background: var(--grey-500);
}

.password-container::-webkit-scrollbar-thumb:hover {
    background: var(--grey-300);
}

:global(body.dark) .password-container::-webkit-scrollbar-thumb:hover {
    background: var(--grey-400);
}