.container {
    width: 30rem;
}

.checkboxes-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.checkbox-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.charset {
    margin-left: 1.8rem;
    font-size: 0.9rem;
    text-decoration: line-through;
    color: var(--grey-400);
}

.charset.active {
    text-decoration: none;
    color: var(--blue-600);
}

.password-container {
    width: 70%;
    border: 1px solid var(--grey-200);
    text-align: center;
    padding: 1rem;
}

.buttons-container {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
