@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --black: hsl(0, 0%, 15%);
    --white: hsl(0, 0%, 97%);

    --blue-100: hsl(207, 100%, 90%);
    --blue-200: hsl(207, 100%, 83%);
    --blue-300: hsl(207, 100%, 72%);
    --blue-400: hsl(207, 100%, 65%);
    --blue-500: hsl(207, 100%, 54%);
    --blue-600: hsl(207, 100%, 46%);
    --blue-700: hsl(207, 100%, 38%);
    --blue-800: hsl(207, 100%, 29%);
    --blue-900: hsl(207, 100%, 22%);

    --grey-100: hsl(0, 0%, 90%);
    --grey-200: hsl(0, 0%, 80%);
    --grey-300: hsl(0, 0%, 70%);
    --grey-400: hsl(0, 0%, 60%);
    --grey-500: hsl(0, 0%, 50%);
    --grey-600: hsl(0, 0%, 40%);
    --grey-700: hsl(0, 0%, 30%);
    --grey-800: hsl(0, 0%, 20%);
    --grey-900: hsl(0, 0%, 10%);

    --status-green: hsl(141, 69%, 28%);
    --status-yellow: hsl(61, 100%, 23%);
    --status-orange: hsl(38, 100%, 26%);
    --status-red: hsl(0, 77%, 48%);

    --white-svg: invert(98%) sepia(91%) saturate(180%) hue-rotate(167deg) brightness(117%) contrast(94%);
    --status-green-svg: invert(45%) sepia(83%) saturate(517%) hue-rotate(71deg) brightness(100%) contrast(81%);
    --blue-500-svg: invert(56%) sepia(76%) saturate(4178%) hue-rotate(186deg) brightness(98%) contrast(105%);
    --blue-700-svg: invert(32%) sepia(60%) saturate(1908%) hue-rotate(185deg) brightness(88%) contrast(106%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    
}

body {
    background-color: var(--white);
    color: var(--black);
}

body.dark {
    background-color: var(--grey-800);
    color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

.app-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 17rem;
}

.tool-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
    padding-bottom: 2rem;
    border: 1px solid var(--grey-200);
}

body.dark .tool-container {
    border: 1px solid var(--grey-500);
}

.tool-title {
    text-align: center;
    width: 100%;
    padding: 0.4rem;
    border-bottom: 1px solid var(--grey-200);
    font-size: 1.4rem;
    background-color: var(--grey-100);
}

body.dark .tool-title {
    border-bottom: 1px solid var(--grey-500);
    background-color: var(--grey-700);
}

.mobile-toolbar {
    display: none;
}

.mobile-toolbar.active {
    display: none;
}

@media only screen and (max-width: 768px) {
    .main-container {
        padding: 0;
    }
    .tool-container {
        margin-top: 4rem;
        gap: 1rem;
        width: 95%;
    }

    .mobile-toolbar {
        display: none;
    }
    .mobile-toolbar.active {
        display: flex;
    }
}

input[type="radio"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

input[type="checkbox"] {
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    cursor: pointer;
}
