.input {
    width: 50rem;
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    border: 2px dashed var(--blue-600);
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
}

:global(body.dark) .input {
    border: 2px dashed var(--blue-600);
}

.input img {
    filter: var(--blue-600-svg);
}

.input-file {
    display: none;
}

@media only screen and (max-width: 1400px) {
    .input {
        width: 90%;
    }
}
